# NODE_ENV=development
# PORT=3001

# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=booking_platform

# DB_USER=root
# DB_PASS=0311@Gsk

# DB_POOL_MIN=2
# DB_POOL_MAX=10

# JWT_SECRET=some_long_random_string
# JWT_EXPIRES_IN=15m
# JWT_REFRESH_SECRET=another_long_random_string
# JWT_REFRESH_EXPIRES_IN=7d

# CORS_ORIGIN=http://localhost:3000

# RATE_LIMIT_WINDOW_MS=900000
# RATE_LIMIT_MAX_REQUESTS=100